body {
    font-family: 'Arial', sans-serif;  
    background-color: #e6e6fa;  
    color: #333;  
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h1 {
    color: #c5a3c2;  
    margin-top: 50px;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-family: 'Arial', sans-serif;  
}

h2 {
    color: #c5a3c2;  
    font-size: 2rem;
    margin-top: 20px;
    font-family: 'Arial', sans-serif;  
}

p {
    font-size: 18px;
    margin: 20px 0;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.5px;
    font-family: 'Arial', sans-serif;  
}

.section-links {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

a {
    text-decoration: none;
    color: #4b0082;  
    font-size: 22px;
    margin: 10px;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: rgba(75, 0, 130, 0.1);  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    font-family: 'Arial', sans-serif;  
}

a:hover {
    color: #6a0dad;  
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: rgba(75, 0, 130, 0.2);  
}

.back-link {
    margin-top: 30px;
}

blockquote {
    font-family: 'Arial', sans-serif;  
    font-style: italic;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 1.8;
    color: #555;  
}
